html,body{
    height: 100%;
}

main{
    position: relative;
    height: 400px;
    width: 600px;
    background-color: lightskyblue;
}

header{
    position: absolute;
    height: 20px;
    width: 20px;
    background: red;
    
}