ignore.txt
n

ing

this work is done by my friend

# ✔️Krishna Ashish Hussain     =>DSA Visualiser
# ✔️Nisha Nitin Subham         =>BHK Flats 
# ✔️Atif Akasht Rajiv          =>Resume Builder
# ✔️Asish Pritiksha Babloo     =>Brick Text
# ✔️Vivek Sabbi Ayush Pushan   =>Calculator
# ✔️Rajneesh Ajay  Paras         =>Calender
# ✔️Akash Puran Vakil            =>Music Player
# ✔️Raman Tarun Shivam           =>Chat
# ✔️Rajat Nihal Zabir          =>Pendulunm