* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #f5f5f5;
}

.container {
    height: 100%;
}

.container header {
    position: sticky;
    top: 0;
    background: rgb(173, 199, 230);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 50px;
}

.container header .add {
    margin-left: auto;
}

.container header .add button {
    background: blue;
    border: none;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    outline: 1px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container main {
    overflow-y: auto;
    height: calc(100% - 140px);
}

.container footer {
    padding-top: 30px;
    background-color: tomato;
    text-align: center;
    height: 90px;
}

.add__todo__container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}

.form__container {
    width: 25%;
    background-color: #ddd;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.form__container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline: 1px solid #ccc;
    padding: 20px;
    animation: zoom 200ms ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.form__container button {
    width: 100%;
    height: 40px;
    border: none;
    outline: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
}

.form__container .heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}


.text textarea {
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.todo-list {
    background: #fff;
    margin: 10px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: zoom2 200ms ease-in-out;
}

@keyframes zoom2 {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1)
    }
}



.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aquamarine;
}

.todo-text {
    padding: 10px;
    background-color: #fff;
}

.input__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.input__container .input {
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    animation: zoom 100ms ease-in-out;
}

.gayab {
    animation: zoomOut 100ms ease-in-out;
    display: none;
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.todo-header {
    position: relative;
}

.todo-header button {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1000px) {
    .form__container {
        width: 80%;
    }
}