* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#root {
    height: 100%;
}

body, html {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 100px auto 50px;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.mla {
    margin-left: auto;
}

.header {
    background: #131921;
}

.footer {
    background: #131921;
}

.header .header-container {
    display: flex;
    align-items: center;
    color: white;
}

.header .header-container .search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    padding: 1px;
    /* background-color: #fff; */
}

.header .header-container .search-container .search-icon {
    color: #131921;
    background-color: #FEBD69;
    /* padding: 10px; */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0px;
}

.header .header-container .search-container input {
    height: 25px;
    width: 850px;
    padding: 7px;
    border: none;
    border-radius: 5px 0 0 5px;
    padding-left: 30px !important;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    font-size: 1.2rem;
}


.hamburger {
    border-radius: 5px;
}

.hamburger .line {
    width: 20px;
    height: 1px;
    background: white;
    margin: 3px;
}

.header .last-items {
    margin-right: 15px;
}


.last-items {
    display: flex;
    align-items: center
}
.last-items .item span{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.last-items .item {
    outline: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .under-header {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 4px 0;
    background-color: #232F3E;
}

.under-header .uh-container {
    display: flex;
    color: #fff;
    align-items: center;
    width: 100%;
}

.under-header .uh-container .uh-item:hover {
    outline: 2px solid white;
}

.under-header .uh-container .uh-item {
    margin: 2px 10px;
    padding: 3px 5px;
    border-radius: 2px;
}

.under-header .uh-container .uh-img:hover {
    outline: 2px solid white;
}

.uh-img {
    margin-left: auto;
}

.uh-img img {

    height: 35px;
}

.under-header .uh-container .uh-item.flex {
    display: flex;
    align-items: center;
    margin-left: 20px;
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.content .product {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    width: 22%;
    background: lightgrey;
    height: 450px;
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid gray;
    transition: all 100ms ease-in-out;
    overflow: hidden;
}

.content .product img {
    transition: all 100ms ease;
}

.content .product:hover img {
    transform: scale(1.1);
}

.content .product .product-header {
    height: 70%;
    border-radius: 5px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .product .content-product {
    padding: 15px;
    position: relative;
}

.content .product .wrapper {
    display: flex;
}

.content .product .wrapper .price {
    margin-right: auto;
}

.content .product .wrapper .btn button {
    position: absolute;
    right: 10px;
    top: 25px;
    background: rgb(240, 192, 64);
    border: 1px solid grey;
    padding: 5px 30px;
    border-radius: 5px;
}

.logo:hover {
    outline: 1px solid white;
    border-radius: 2px;
}

.logo {
    height: 90%;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.content .content-product .title .details {
    font-size: medium;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.form-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .form-wrapper .inner-form-wrapper {
    font-family: "Amazon Ember", Arial, sans-serif;
    padding: 25px;
    outline: 1px solid #e7e7e7;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0.8rem;
    width: 75%;
    box-shadow: #e7e7e7 0px 0px 5px 0px;
}

.form-ele {
    width: 100%;
}

.content .form-wrapper .form-ele input:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.content .form-wrapper .form-ele input {
    width: 100%;
    background-color: #fff;
    padding: 5px 7px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
    line-height: normal;
}

.content .form-wrapper .form-ele {
    margin: 15px 0;
}

.content .form-wrapper .form-ele label {
    margin-bottom: 100px;
    font-weight: bold;
}

.content .form-wrapper .form-ele.signin {
    margin-bottom: 20px;
    font-size: 2rem;
}

.content .form-wrapper .form-ele .login-btn {
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px;
    margin-top: 20px;
    width: 100%;
}

.content .form-wrapper .form-ele .create-acc-btn {
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px;
    width: 100%;
}

hr {
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.fgt-pw-container {
    display: flex;
    height: 18px;
}

.fgt-pw {
    color: rgb(26, 130, 172);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
}



.error {
    animation: grow 200ms ease;
    outline: 1px solid red;
    border-radius: 3px;
    box-sizing: border-box;
    /* font-size: 1.2rem; */
    width: 75%;
    color: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: red 0px 0px 3px 0px;
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.fa.fa-shopping-cart{
    color: #fff;
}