* {
    margin: 0;
}

input[type=text] {
    color: red;
    background-color: yellow;
}

label {
    cursor: pointer;
    font-size: 30px;
}

select {
    background-color: aqua;
}

option {
    background-color: blue;
}