.logo{
    margin-right: auto;
}
.contents{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.loginbtn{
    font-weight: bold;
    color: blue;
    padding:5px;
}
.signupbtn{
    border-radius: 10%;
    border: 2px solid blue;
    padding:5px;
    color: blue;
    font-weight: bold;
}